rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny Catch-all Security Rule
    match /{document=**} {
      allow read, write: if false;
    }

    // Individual User Profile database records
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
